.main
{
	margin:0px auto;
	width:900px;
	height:700px;
	border-width:1px;
	border-color:#331400;
	border-style:solid;
}

.cleft
{
	float:left;
	position:relative;
	border-width:1px;
	border-color:#331400;
	border-style:solid;
	min-height:600px;
	margin:10px;
	padding:10px;
}

.cright
{
	float:left;
	position:relative;
	border-width:1px;
	border-color:#331400;
	border-style:solid;
	min-height:600px;
	min-width:500px;
	margin:10px;
	padding:10px;
}